{% extends "main.html" %}

{% block content %}

<h1> Home Template </h1>

<div>
    <div>
        {{rooms}}

        {% for room in rooms %}

        <h3> This is the room object {{room}} </h3>

        <div>
            {% comment %} <h5> {{room.id}} -- <a href="/room/{{room.id}}">{{room.name}}</a> </h5> {% endcomment %}
            <h5> {{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a> </h5>  <!-- Using the name attribute here instead of the path itself as shown above -->
        </div>

        {%endfor%}

    </div>
</div>

{% endblock content %}

