{% extends "main.html" %}

{% block content %}

<h1> Home Template </h1>

<div>

    <a href="{% url 'create-room' %}"> Create Room</a>

    <div>
        <p> {{rooms}}</p>

        {% for room in rooms %}

        {% comment %} <h3> This is the room object {{room}} </h3> {% endcomment %}

        <div>
            <span> @{{room.host.username}} </span> <!-- Display the host name -->

            {% comment %} <h5> {{room.id}} -- <a href="/room/{{room.id}}">{{room.name}}</a> </h5> {% endcomment %}
            <h5> {{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a> </h5>  <!-- Using the name attribute here instead of the path itself as shown above -->
            <h5><a href="{% url 'update-room' room.id %}">Edit</a></h5>
            <small> {{room.topic.name}} </small>
            <hr>
        </div>

        {%endfor%}

    </div>
</div>

{% endblock content %}

